body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

ul, h1, h2, h3, h4, li {
    margin:0;
    padding:0;
}

.hero__nav li a {
    color:white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hero {
    height:100vh;
    position:relative;
    }

.hero__logo {
    width:25%;
    max-width: 100px;
}

.hero__nav {
    background-color: black;
    color:white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__nav--links {
    display: flex;
    justify-content: flex-start;
    max-width: 610px;
    width:100%;
} 
  
.hero__list {
    text-decoration: none;
    list-style: none;
}

.hero__list--middle {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1em;
}

.hero__nav--links--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.85rem;
}

.navmob {
    display:none;
}

.hero__icon {
    width:2rem;
}

.hero--bottom {
    height:80vh;
    background-image: url('/img/hero2.jpeg');
    background-color: rgba(1, 1, 1, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.container__hero {
    position:relative;
    padding: 3em;
    height: 100%;
    width: 60%;
    margin:auto;
    top:2%;
}

.hero__title {
    color:whitesmoke;
    font-size: 2.15rem;
    font-weight: 400;
    text-align: center;
    line-height: 4rem;
}

.labelle {
    font-family: 'Niconne', cursive;
    font-size: 3.5rem;
}
    
.chef--desktop {
    display: none;
}

.meetchef__title {
    font-family: 'Niconne', cursive;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding: 0.5em 0;
}

.meetchef__text{
    text-indent:2rem;
    text-align: justify;
    line-height: 1.5rem;
    margin:0.5rem 0;
}

.container__meetchef {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    margin: auto;
    margin-bottom:3rem;
}

.chef--mobile {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    margin-bottom:0.75rem;
}

#more {
    display: none;
}

.meetchef__btn {
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding:0.5rem 0.75rem;
    width:200px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

@media (min-width: 685px) {

    .hero__nav--links {
        display: flex;
        justify-content: space-evenly;
        width: 68%;
        max-width: 610px;
    }

    .hero__list--middle {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }

    .navmob {
        display:inline;
    }
    
    .hero__icon {
        width:1rem;
    }
    

    /* .toggle-button {
            display:none;
        } */

    .hero__icon {
        width:1.2rem;
    }

    .hero__title {
        font-size: 4rem;
        font-weight: 300;
        line-height: 6rem;
    }
    
    .labelle {
        font-size: 6rem;
    }

    .hero__list--middle {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }

    .hero__nav--links--right {
        line-height: 2em;
    }

    .chef--desktop {
        display: block;
    }

}