body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

ul, h1, h2, h3, h4, li {
    margin:0;
    padding:0;
}

.hero__nav li a {
    color:white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hero {
    height:100vh;
    position:relative;
    }

.hero__logo {
    width:25%;
    max-width: 100px;
}

.hero__nav {
    background-color: black;
    color:white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__nav--links {
    display: flex; /*change back to none once nav fixed */
    justify-content: space-evenly;
    max-width: 610px;
    width:100%;
} 
  
.hero__list {
    text-decoration: none;
    list-style: none;
}

.hero__list--middle {
    display: flex; 
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    align-items: flex-start;
    padding-left:1rem;
}

/* .toggle-button {
    position:absolute;
    right: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height:3px;
    width:100%;
    background-color: white;
    border-radius: 10px;
} */

.hero__nav--links--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.85rem;
}

.navmob {
    display:none;
}

.hero__icon {
    width:2rem;
}

.hero--bottom {
    height:80vh;
    background-image: url('/img/hero2.jpeg');
    background-color: rgba(1, 1, 1, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.container__hero {
    position:relative;
    padding: 3em;
    height: 100%;
    width: 60%;
    margin:auto;
    top:2%;
}

.hero__title {
    color:whitesmoke;
    font-size: 2.15rem;
    font-weight: 400;
    text-align: center;
    line-height: 4rem;
}

.labelle {
    font-family: 'Niconne', cursive;
    font-size: 3.5rem;
}
    

@media (min-width: 685px) {

    .hero__nav--links {
        display: flex;
        justify-content: space-evenly;
        width: 68%;
        max-width: 610px;
    }

    .hero__list--middle {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }

    .navmob {
        display:inline;
    }
    
    .hero__icon {
        width:1rem;
    }
    

    /* .toggle-button {
            display:none;
        } */

    .hero__icon {
        width:1.2rem;
    }

    .hero__title {
        font-size: 4rem;
        font-weight: 300;
        line-height: 6rem;
    }
    
    .labelle {
        font-size: 6rem;
    }

    .hero__list--middle {
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
    }

    .hero__nav--links--right {
        line-height: 2em;
    }
}