* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color:#4c4c4c;
}

ul, h1, h2, h3, h4, li {
    margin:0;
    padding:0;
}

a {
    text-align: center;
}

.hero__nav li a {
    color:white;
    text-decoration: none;
}

.hero__nav li a:hover {
    color:#bf2b75;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.hero {
    height:110vh;
    background-image: url('../img/hero_crepes.jpg');
    background-color: rgba(1, 1, 1, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    }

.hero__logo {
    width:15%;
    max-width: 150px;
}

.hero__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    width: 100vw;
    height:25vh;
}

.hero__nav--links {
    font-size: 1.4rem;
    max-width: 610px;
    width:100%;
    line-height: 2.5rem;
} 
  
.hero__list {
    text-decoration: none;
    list-style: none;
}

/* .hero__list--middle {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 1em;
} */
/* 
.hero__nav--links--right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.85rem;
} */

.navmob {
    display:inline;
}

/* .hero__icon {
    width:2rem;
} */

.container__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    /* padding: 3em; */
    width: 100%;
    /* top:2%; */
}

.hero__title {
    font-family: 'Caveat', cursive;
    color:white;
    font-size: 4rem;
    text-align: center;
}

.menu {
    background-color: white;
    border-radius: 10px;
    border: solid 3px #bf2b75;
    color: #bf2b75;
    width:8em;
    z-index: 10
}

.menu:hover {
    color:white;
    background-color: #bf2b75;
    z-index: 10;
}

.book__btn {
    width:5rem;
    font-size: 1rem;
}

.menu--active {
    border-bottom: 4px solid #bf2b75;
}

.locs {
    display: flex;
    justify-content: space-evenly;
    width:95%;
    margin:auto;
    margin-top:3rem;
}

.hero__title--black {
    text-align: center;
}

.locs__text {
    text-align: center;
}

.container--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47%;
}

.container--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47%;
}

.container__img {
    max-width: 500px;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
    border-radius: 20px;
    margin-bottom:2rem;
}

.more {
    text-align: center;
    font-size: 1.2rem;
    margin:auto;
    margin-top:4rem;
    margin-bottom:1rem;
    font-weight: 400;
    max-width: 800px;

}

.btn--touch {
    color: white;
    background-color: #bf2b75;
    width:15rem;
}

.btn--touch:hover {
    color: #bf2b75;
    background-color: white;
    width:15rem;
}

footer {
    margin-top:3rem;
}

.footer__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom:0.5rem;
}

.footer__icon {
    width:30px;
}

.footer__icon--insta {
    width:30px;
}

.footer__container {
    text-align: center;
}

.footer__contact, .footer__QuickLinks{
    margin-top:1rem;
    margin-bottom:1.5rem;
}

.footer__QuickLinks a {
    text-decoration: none;
    color: #4c4c4c;
}

.footer__QuickLinks a:hover {
    color:#bf2b75;
    text-decoration: none;
}

.copyright {
    margin:2rem 0;
    font-size: 0.75rem;
    text-align:center;
}
/* DESKTOP VIEW */  /* DESKTOP VIEW */  /* DESKTOP VIEW */  /* DESKTOP VIEW */
/* DESKTOP VIEW */  /* DESKTOP VIEW */  /* DESKTOP VIEW */  /* DESKTOP VIEW */

@media (min-width: 1100px) {

    .hero {
      height:45vh;
    }
    
    .polygon {
        margin-top:-10rem;
    }

    .hero__logo {
        width:15%;
        max-width: 130px;
    }
    
    .hero__nav {
        z-index: 20;
        width: 100vw;
        height:25vh;
        padding: 1rem 2rem 0 2rem;
    }
    
    .hero__nav--links {
        font-size: 1.4rem;
        font-weight:200;
        max-width: 610px;
        width:100%;
    } 
      
    .hero__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }

    .menu {
        font-size: 1.3rem;
        padding:0.7rem;
    }
    
    .book__btn {
        width:6rem;
        font-size: 1.3rem;
        border-radius: 50%;
    }
    
    .navmob {
        display:none;
    }
    
    .container__hero {
        flex-direction: column;
    }
    
    .hero__title {
        color:white;
        font-size: 4.5rem;
        font-weight: 900;
        margin-top: 1rem;
        margin-bottom:1rem;
    }

    
    /* .grid-container {
        margin-top: 3rem;
        display: grid;
        padding:3px;
        gap: 2rem;
        grid-template-columns: repeat(2, 30vw);
        justify-content: space-evenly;
        grid-template-rows: 50%;
    }
    
    .grid--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
        border-radius:20px;
        filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
    } */

    .footer__container {
        display: flex;
        justify-content: center;
        width: 95%;
        max-width: 900px;
        align-items: flex-start;
        margin: auto;
    }

    .footer__contact, .footer__QuickLinks {
        width:30%;
    }

    .footer__text{
        font-size: .85rem;
    }

    .footer__title {
        font-size: 1.5rem;
    }

    .footer__icon {
        width:30px;
    }

    .copyright {
        text-align: center;
    }
}